{% set active_page = "description" %}
{% extends 'base.html' %}

{% block title %}
    О нас
{% endblock %}

{% block content_title %}
    Описание компании
{% endblock %}

{% block content %}
    <p>Федеральное государственное бюджетное учреждение науки "Сибирский федеральный научный центр
        агробиотехнологий Российской академии наук"</p>
    <p>Является научной организацией</p>
    <br>
    <div class="text-center">
        <img src="/static/img/sfcnaran.jpg" class="rounded" alt="СФНЦА РАН">
    </div>
{% endblock %}