<div class="left-menu col-md-3 col-sm-6 col-xs-12 md-mb-30 sm-mb-30">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'power' else '' }}" href="/power">Мощность гумусового горизонта</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'humus' else '' }}" href ="/humus">Содержание гумуса</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'moisture' else '' }}" href="/moisture">Продуктиная влага</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'phosphorus' else '' }}" href="/phosphorus">Подвижный фосфор</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'potassium' else '' }}" href="/potassium">Подвижный калий</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'pH' else '' }}" href="/pH">Кислотность</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'erosion' else '' }}" href="/erosion">Эрозия</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'deflation' else '' }}" href="/deflation">Дефляция</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'solonetzes' else '' }}" href="/solonetzes">Виды солонцов</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'salinization' else '' }}" href="/salinization">Засоление почв</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'granulometry' else '' }}" href="/granulometry">Гранулометрический состав</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'water_resistant' else '' }}" href="/water_resistant">Водопрочные агрегаты</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'aggregates' else '' }}" href="/aggregates">Структурность</a></li>
            <li class="nav-item"><a class="nav-linc {{ 'active' if active_page == 'bulkweight' else '' }}" href="/bulkweight">Равновесная плотность</a></li>
        </ul>
    </nav>
</div>